#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#
# This file is a .ucf for Mimas (http://www.numato.com)                                               #
# To use it in your project :                                                                         #
# * Remove or comment the lines corresponding to unused pins in the project.                          #
# * Rename the used signals according to the your project.                                            #
# * For more detail refer to the User Guide available at http://numato.com/products/fpga-boards/      #
#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#

#**************************************************************************************************************************************************#
#                                            UCF for Mimas                                                                                         #
#**************************************************************************************************************************************************#

NET "sys_clk"      LOC = P126 | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz;
NET "reset_n"      LOC = P105 |IOSTANDARD = LVCMOS33 | PULLUP;


###################################################################################################################################################
#                                                 LEDs                                                                                            #
################################################################################################################################################### 

NET "LED[0]" 			  LOC = P119	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "LED[1]" 			  LOC = P118	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "LED[2]" 			  LOC = P117	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "LED[3]" 			  LOC = P116	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "LED[4]" 			  LOC = P115	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "LED[5]" 			  LOC = P114	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "LED[6]" 			  LOC = P112	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "LED[7]" 			  LOC = P111	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
###################################################################################################################################################
#                                                Push Button Switches                                                                             #
################################################################################################################################################### 

NET "Switch[0]" 		 LOC = P124	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "Switch[1]" 		 LOC = P123	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "Switch[2]" 		 LOC = P121	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "Switch[3]" 		 LOC = P120	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;

###################################################################################################################################################
#                                                   HEADER P1                                                                                     #
###################################################################################################################################################
NET "spi_sio[3]"                 LOC = P32      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;    # IO_L2N_3          Sch = GPIO-N17 
NET "spi_sio[2]"                 LOC = P30      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;    # IO_L36P_3         Sch = GPIO-P16 
NET "spi_sio[1]"                 LOC = P29      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;    # IO_L36N_3         Sch = GPIO-N16 
NET "spi_sio[0]"                 LOC = P27      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;    # IO_L37P_3	   Sch = GPIO-P15 
NET "spi_csn"                    LOC = P26      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;    # IO_L37N_3         Sch = GPIO-N15 
NET "spi_sck"                    LOC = P24      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;    # IO_L41P_GCLK27_3   	        Sch = GPIO-P14 

NET "spi_sio_la[3]"              LOC = P6       | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;    # IO_L52P_3        Header-1: 25  
NET "spi_sio_la[2]"              LOC = P7       | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;    # IO_L51N_3        Header-1: 24 
NET "spi_sio_la[1]"              LOC = P8       | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;    # IO_L51P_3        Header-1: 23  
NET "spi_sio_la[0]"              LOC = P9       | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;    # IO_L50N_3	     Header-1: 22
NET "spi_csn_la"                 LOC = P10      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;    # IO_L49N_3        Header-1: 21 
NET "spi_sck_la"                 LOC = P11      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;    # IO_L49N_3   	  Header-1: 20     



NET "sys_clk" TNM_NET=sys_clk;
TIMESPEC TS_sys_clk= PERIOD "sys_clk" 10 ns HIGH 50%;
NET "spi_sck" TNM_NET=spi_sck;
TIMESPEC TS_spi_sck= PERIOD "spi_sck" 100 ns HIGH 50%;
